html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
	font-family: 'Signika Negative', sans-serif;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	text-align: center;
	background-color: #f5f5f5;
}


.fas{
    font-size: 4rem;
}

/* th, td {
    text-align: left;
} */

.table td, .table th {
    padding: 0.7rem;
    vertical-align: middle;
}

.home-logo div{
	text-align: center;
}

a:hover, .dropdown-item:hover {
	background-color: #0085f230;
    color: #0069c2 !important;
    text-decoration: none;
	border-radius: 0.7rem;
  }
  
.btn:hover {
	transform: scale(1.1);
	color: white !important;
	background-color: auto;
}
.img-link:hover {
	transform: scale(1.05);
	background-color: transparent;
}

.active {
	/* font-weight:400; */
	/* color: aqua !important; */
	text-shadow: 1px 1px 10px #56a597;
	color: #0069c2 !important;

}

/* .table {
	transition: all 0.3s ease-out;
} */

thead {
	top:75px !important;
	z-index: auto !important;
}

.navbar-text {
	vertical-align: middle;
}